package de.hpi.des.hdes.engine.temp;

import de.hpi.des.hdes.engine.execution.slot.Event;

public class {{{className}}} {
  private final ByteBuffer input;
  {{#hasChild}}
  private final ByteBuffer output;
  {{/hasChild}}
  
  public {{{className}}}(final ByteBuffer input{{#hasChild}}, final ByteBuffer output{{/hasChild}}) {
    this.input = input;
    {{#hasChild}}
    this.output = output;
    {{/hasChild}}
  }

  public void processEvent(int offset){
    input.position(offset);
    input.mark(offset);
    {{{implementation}}}
  }  
}
