private interface FilterInterface {
    boolean filter(
        {{{signature}}}
    );
}

{{#materilization}}
{{> Materialization.java.mustache}}
{{/materilization}}

FilterInterface filter = ({{{signature}}}) -> {{{condition}}};
if(filter.apply({{{application}}})){
    {{{execution}}}
}
