final Function joinKeyExtractor = {{{joinKeyExtractor}}};
final Object key = joinKeyExtractor.apply(event.getData());
final Object value = event.getData();
for (; windowStart <= eventTimestamp; windowStart += slide) {
    final Multimap<Object, Object> state = this.stateRight.computeIfAbsent(windowStart,
            w -> ArrayListMultimap.create());
    state.put(key, value);
    this.stateRight.put(windowStart, state);
    Multimap<Object, Object> leftState = stateLeft.get(windowStart);
    if (leftState != null && leftState.containsKey(key)) {
        for (Object leftValue : leftState.get(key)) {
            final BiFunction joinMapper = {{{joinMapper}}};
           this.nextPipeline.{{{nextPipelineFunction}}}(new Event(joinMapper.apply(leftValue, value), false, eventTimestamp));
        }
    }
}
