{{! 
  hash used: {
    pipelineId: string,
    leftTupleLength: int,
    rightTupleLength: int,
    keyType: string, // How do we support multiple keys? Object could do the trick with a custom key exctractor
    nativeKeyType: string, // same as keyType except lowercased, except for Object2Object
    leftKeyOffset: int
    rightKeyOffset: int,
    leftOperators: String,
    rightOperators: String,
  }
}}
package de.hpi.des.hdes.engine.temp;

import java.nio.ByteBuffer;

import de.hpi.des.hdes.engine.execution.Dispatcher;
import de.hpi.des.hdes.engine.execution.buffer.ReadBuffer;
import de.hpi.des.hdes.engine.execution.Stoppable;

import it.unimi.dsi.fastutil.longs.*;
import it.unimi.dsi.fastutil.ints.*;

public class {{{pipelineId}}} implements Runnable, Stoppable {

    final private long windowSlide = {{{windowLength}}};
    final private long windowLength = {{{windowLength}}};
    private long earliestOpenWindowJoin = Long.MAX_VALUE;
    private long latestTimestampLeft = 0;
    private long latestTimestampRight = 0;
    final private int[] leftFreeableOffsets = new int[{{{vectorSize}}}];
    final private int[] rightFreeableOffsets = new int[{{{vectorSize}}}];
    private int leftFreeableIndex = 0;
    private int rightFreeableIndex = 0;
    final private int[] leftOffsetsToWindowCount = new int[{{{eventCount}}}];
    final private int[] rightOffsetsToWindowCount = new int[{{{eventCount}}}];
    final private ReadBuffer leftInput;
    final private ReadBuffer rightInput;
    final private Dispatcher dispatcher;
    final byte[] output = new byte[(8 + {{{leftTupleLength}}} + {{{rightTupleLength}}} + 1)*{{{vectorSize}}}];
    final private ByteBuffer outputBuffer = ByteBuffer.wrap(output);
    private int outputCounter = 0;
    
    final private Long2ObjectOpenHashMap<{{type.uppercaseName}}2ObjectOpenHashMap<IntList>> leftWindows = new Long2ObjectOpenHashMap<>();
    final private Long2ObjectOpenHashMap<{{type.uppercaseName}}2ObjectOpenHashMap<IntList>> rightWindows = new Long2ObjectOpenHashMap<>();

    private boolean shutdownFlag = false;
    
    {{#interfaces}}
    {{> InterfaceDefinition.java.mustache}}
    {{/interfaces}}

    public {{{pipelineId}}} (final ReadBuffer left, final ReadBuffer right, final Dispatcher dispatcher) {
        leftInput = left;
        rightInput = right;
        this.dispatcher = dispatcher;
    }

    public void readEventLeft() {
        leftInput.mark();
        final int startingPosition = leftInput.getBuffer().position();
        final long eventTimestamp = leftInput.getBuffer().getLong();
        if (eventTimestamp < latestTimestampLeft) {
            freeLeft(startingPosition);
            leftInput.getBuffer().position(startingPosition+8+{{leftTupleLength}}+1);
            return;
        }
        LongList windowStarts = new LongArrayList();
        for (long currentWindow = eventTimestamp - windowLength - ((eventTimestamp - windowLength) % windowSlide); currentWindow <= eventTimestamp; currentWindow += windowSlide) {
            if (currentWindow > eventTimestamp - windowLength)
                windowStarts.add(currentWindow);
        }
        leftOffsetsToWindowCount[startingPosition/(8+1{{leftTupleLength}})] = windowStarts.size();
        final long minWindow = windowStarts.getLong(0);
        if (earliestOpenWindowJoin > minWindow) {
            earliestOpenWindowJoin = minWindow;
        }

        {{#leftVariables}}
        {{> VariableDefiniton.java.mustache}}
        {{/leftVariables}}

        {{{leftOperators}}}

        for(long windowStart: windowStarts) {
            {{type.uppercaseName}}2ObjectOpenHashMap<IntList> leftWindow = leftWindows.computeIfAbsent(windowStart,
                    w -> new {{type.uppercaseName}}2ObjectOpenHashMap<IntList>());
            IntList offsets = leftWindow.computeIfAbsent({{{leftKey}}}, w -> new IntArrayList());
            offsets.add(startingPosition);
            
            {{type.uppercaseName}}2ObjectOpenHashMap<IntList> rightWindow = rightWindows.getOrDefault(windowStart, null);
            if(rightWindow != null && rightWindow.containsKey({{{leftKey}}})){
                IntList rightOffsets = rightWindow.get({{{leftKey}}});
                for (int rightIndex = 0; rightIndex < rightOffsets.size(); rightIndex++) {
                    writeOutput(startingPosition, rightOffsets.getInt(rightIndex));
                }
            }
        }

        leftInput.getBuffer().position(startingPosition+8+{{leftTupleLength}});
        rightInput.reset();
        rightInput.getBuffer().position(rightInput.getBuffer().position()+8+{{rightTupleLength}}+1);

        if (leftInput.getBuffer().get() == (byte) 1) {
            latestTimestampLeft = Math.max(latestTimestampLeft, eventTimestamp);
            for (; earliestOpenWindowJoin + windowLength <= latestTimestampLeft && earliestOpenWindowJoin
                    + windowLength <= latestTimestampRight; earliestOpenWindowJoin += windowSlide) {
                trigger(earliestOpenWindowJoin);
            }
        }
    }

    public void readEventRight() {
        rightInput.mark();
        final int startingPosition = rightInput.getBuffer().position();
        final long eventTimestamp = rightInput.getBuffer().getLong();
        if (eventTimestamp < latestTimestampRight) {
            freeRight(startingPosition);
            rightInput.getBuffer().position(startingPosition+8+{{rightTupleLength}}+1);
            return;
        }
        LongList windowStarts = new LongArrayList();
        for (long currentWindow = eventTimestamp - windowLength - ((eventTimestamp - windowLength) % windowSlide); currentWindow <= eventTimestamp; currentWindow += windowSlide) {
            if (currentWindow > eventTimestamp - windowLength)
                windowStarts.add(currentWindow);
        }
        rightOffsetsToWindowCount[startingPosition/(8+1+{{rightTupleLength}})] = windowStarts.size();
        final long minWindow = windowStarts.getLong(0);
        if (earliestOpenWindowJoin > minWindow) {
            earliestOpenWindowJoin = minWindow;
        }

        {{#rightVariables}}
        {{> VariableDefiniton.java.mustache}}
        {{/rightVariables}}

        {{{rightOperators}}}

        for(long windowStart: windowStarts) {
            {{type.uppercaseName}}2ObjectOpenHashMap<IntList> rightWindow = rightWindows.computeIfAbsent(windowStart,
                    w -> new {{type.uppercaseName}}2ObjectOpenHashMap<IntList>());
            IntList offsets = rightWindow.computeIfAbsent({{{rightKey}}}, w -> new IntArrayList());
            offsets.add(startingPosition);
            
            {{type.uppercaseName}}2ObjectOpenHashMap<IntList> leftWindow = leftWindows.getOrDefault(windowStart, null);
            if(leftWindow != null && leftWindow.containsKey({{{rightKey}}})){
                IntList leftOffsets = leftWindow.get({{{rightKey}}});
                for (int leftIndex = 0; leftIndex < leftOffsets.size(); leftIndex++) {
                    writeOutput(leftOffsets.getInt(leftIndex), startingPosition);
                }
            }
        }

        leftInput.reset();
        leftInput.getBuffer().position(leftInput.getBuffer().position()+8+{{leftTupleLength}}+1);
        rightInput.getBuffer().position(startingPosition+8+{{rightTupleLength}});

        if (rightInput.getBuffer().get() == (byte) 1) {    
            latestTimestampRight = Math.max(latestTimestampRight, eventTimestamp);
            for (; earliestOpenWindowJoin + windowLength <= latestTimestampLeft && earliestOpenWindowJoin
                    + windowLength <= latestTimestampRight; earliestOpenWindowJoin += windowSlide) {
                trigger(earliestOpenWindowJoin);
            }
        }
    }

    private void trigger(final long timestamp) {
        {{type.uppercaseName}}2ObjectOpenHashMap<IntList> leftWindow = leftWindows.remove(timestamp);
        {{type.uppercaseName}}2ObjectOpenHashMap<IntList> rightWindow = rightWindows.remove(timestamp);
        if (leftWindow != null) {
            for ({{type.lowercaseName}} key : leftWindow.keySet().to{{{type.uppercaseName}}}Array()) {
                IntList leftOffsets = leftWindow.get(key);
                for (int leftIndex = 0; leftIndex < leftOffsets.size(); leftIndex++) {
                    freeLeft(leftOffsets.getInt(leftIndex));
                }
            }
        }
        if (rightWindow != null) {
            for ({{type.lowercaseName}} key : rightWindow.keySet().to{{{type.uppercaseName}}}Array()) {
                IntList rightOffsets = rightWindow.get(key);
                for (int rightIndex = 0; rightIndex < rightOffsets.size(); rightIndex++) {
                    freeRight(rightOffsets.getInt(rightIndex));
                }
            }
        }
    }

    public void writeOutput(int leftOffset, int rightOffset) {
        int initialOutputOffset = this.outputCounter * (8 + {{leftTupleLength}} + {{rightTupleLength}} + 1);
        outputBuffer.putLong(initialOutputOffset,Math.max(leftInput.getBuffer().getLong(leftOffset),rightInput.getBuffer().getLong(rightOffset)));
        leftInput.getBuffer().position(leftOffset);
        rightInput.getBuffer().position(rightOffset);
        int startingPosition = rightOffset;
        {{#rightVariables}}
        {{> VariableDefiniton.java.mustache}}
        {{/rightVariables}}
        {{{rightOperators}}}
        startingPosition = leftOffset;
        {{#leftVariables}}
        {{> VariableDefiniton.java.mustache}}
        {{/leftVariables}}
        {{{leftOperators}}}
        {{{writeOut}}}
        outputBuffer.put(initialOutputOffset + 8 + {{leftTupleLength}} + {{rightTupleLength}}, (byte) 0);
        this.outputCounter++;
        if(this.outputCounter == {{{vectorSize}}}) {
            while (!dispatcher.write("{{pipelineId}}", output) && !shutdownFlag);
            this.outputCounter = 0;
        } 
    }

    private void freeLeft(int offset) {
        int pos = offset/(8+1+{{leftTupleLength}});
        int remainingWindows = leftOffsetsToWindowCount[pos]--;
        leftOffsetsToWindowCount[pos] = remainingWindows;
        if(remainingWindows <= 0) {
            leftFreeableOffsets[leftFreeableIndex] = offset;
            leftFreeableIndex++;
            if(leftFreeableIndex == {{{vectorSize}}}) {
                dispatcher.free(leftInput, leftFreeableOffsets);
                leftFreeableIndex = 0;
            }
        }
    }

    private void freeRight(int offset) {
        int pos = offset/(8+1+{{leftTupleLength}});
        int remainingWindows = rightOffsetsToWindowCount[pos]--;
        rightOffsetsToWindowCount[pos] = remainingWindows;
        if(remainingWindows <= 0) {
            rightFreeableOffsets[rightFreeableIndex] = offset;
            rightFreeableIndex++;
            if(rightFreeableIndex == {{{vectorSize}}}) {
                dispatcher.free(rightInput, rightFreeableOffsets);
                rightFreeableIndex = 0;
            }
        }
    }


    @Override
    public void run() {
        while (!Thread.interrupted() && !shutdownFlag) {
            if (leftInput.getBuffer().position() == leftInput.getBuffer().capacity()) {
                dispatcher.resetReadLimit("{{{pipelineId}}}", leftInput);
            }
            if (rightInput.getBuffer().position() == rightInput.getBuffer().capacity()) {
                dispatcher.resetReadLimit("{{{pipelineId}}}", rightInput);
            }
            for (int remainingBytes=Math.min(rightInput.remainingBytes(), {{{readVectorSize}}}*(8 + {{{rightTupleLength}}} + 1)); remainingBytes > 0; remainingBytes -= (8 + {{{rightTupleLength}}} + 1)) {
                readEventRight();
            }
            for (int remainingBytes=Math.min(leftInput.remainingBytes(), {{{readVectorSize}}}*(8 + {{{leftTupleLength}}} + 1)); remainingBytes > 0; remainingBytes -= (8 + {{{leftTupleLength}}} + 1)) {
                readEventLeft();
            }
        }
    }

    @Override
    public void shutdown() {
        shutdownFlag = true;
    }
}
