{{#items}}
{{#interfaceName}}
{{{interfaceName}}} {{{interfaceName}}}map = ({{{signature}}}) -> {{{functionBody}}};
{{/interfaceName}}
{{{varName}}} = {{#interfaceName}}{{{interfaceName}}}map.apply({{{application}}}){{/interfaceName}}{{^interfaceName}}{{{functionBody}}}{{/interfaceName}};
{{/items}}