{{#fromBuffer}}
  {{{inputName}}}.reset();
  {{{inputName}}}.getBuffer().position({{{inputName}}}.getBuffer().position() + {{{index}}});
{{/fromBuffer}}
{{{type.lowercaseName}}} {{{varName}}}{{#fromBuffer}} = {{{inputName}}}.getBuffer().get{{{type.uppercaseName}}}(){{/fromBuffer}};