{{#fromBuffer}}
  {{{inputName}}}.getBuffer().position(startingPosition + {{{index}}});
{{/fromBuffer}}
{{{type.lowercaseName}}} {{{varName}}}{{#fromBuffer}} = {{{inputName}}}.getBuffer().get{{{type.uppercaseName}}}(){{/fromBuffer}};